.navbar {
    position: fixed;
    height: 60px;
    color: #111111;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFEFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    text-decoration: none;
}



.logo {
    margin-left: 3rem;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    align-items: center;
    /* padding: 1rem 1.6rem; */
}

.nav-item {
    margin-right: 1rem;
}

/* .nav-link:hover {
    border-radius: 2px;
    background-color: #FEFFE2;
} */

.arrow {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}